//选择器嵌套
nav {
  a {
    color: red;

    header & {
      color:green;
    }
  }  
}

//属性嵌套
.box {
  border: {
   top: 1px solid red;
   bottom: 1px solid green;
  }
}


//伪类嵌套
.clearfix{
  &:before,
  &:after {
    content:"";
    display: table;
  }
  &:after {
    clear:both;
    overflow: hidden;
  }
}